@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.woff2') format('woff2'),
        url('Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

